@mixin small-tablet {
  @media (max-width: 48em) {
    @content;
  }
}

.lottie-mascot-fullscreen {
  right: 20px;
  left: auto;
  bottom: 140px;
  width: 240px;
  height: 240px;
  position: fixed;
  z-index: 1035;
  pointer-events: none;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;

  @include small-tablet {
    left: 50%;
    transform: translateX(-50%);
    right: auto;

    bottom: 80px;
    width: 150px;
    height: 150px;
  }
}

.lottie-animation-wrapper {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.lottie-close-btn {
  position: absolute;
  top: 30px;
  right: 10px;
  width: 35px;
  aspect-ratio: 1;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  pointer-events: all;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  line-height: normal;
  cursor: pointer;
  z-index: 1110;
  // & .lottie-close-icon {
  //   width: 14px;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   aspect-ratio: 1;
  //   & svg {
  //     width: 100%;
  //     height: 100%;
  //     display: block;
  //   }
  //   @include small-tablet {
  //     width: 10px;
  //   }
  // }

  // &::after {
  //   content: '';
  //   display: block;
  //   width: 14px;
  //   aspect-ratio: 1;
  //   background-image: url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjEgMjEiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTIwLjA0NjYgMC44MzU0NDlMMC44MzUzMjggMjAuMDQ2N00wLjgzNTMyNyAwLjgzNTQ0OUwyMC4wNDY2IDIwLjA0NjciIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMS42NzA1NCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+PC9zdmc+');
  //   background-repeat: no-repeat;
  //   background-position: center;
  //   background-size: contain;
  //   @include small-tablet {
  //     width: 10px;
  //   }
  // }

  @include small-tablet {
    width: 30px;
    top: 0;
    right: 0;
    font-size: 16px;
  }
}
